<%= simple_form_for [:admin, @page], html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f| %>
  <div class="box-body">
    <%= f.input :title, label: '标题', placeholder: '请输入单页标题' %>
    <%= f.input :alias, label: '别名', placeholder: '请输入英文别名' %>
    <%= f.input :content, :as => :kindeditor, :label => '单页内容', :input_html => { :width => 800, :height => 300 } %>
  </div>
  <div class="box-footer">
    <%= f.button :submit, '保存' %>
  </div>
<% end %>
