<section class="sidebar">
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="active">
      <%= link_to admin_path do %>
        <i class="fa fa-home"></i>
        <span>首页</span>
      <% end %>
    </li>
    <li class="header">内容管理</li>
    <li>
      <%= link_to admin_demands_path do %>
        <i class="fa fa-paper-plane"></i>
        <span>需求管理</span>
        <span class="pull-right-container">
          <% demand_count = Demand.submit.count %>
          <small class="label pull-right bg-blue"><%= demand_count %></small>
        </span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_articles_path do %>
        <i class="fa fa-newspaper-o"></i>
        <span>资讯管理</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_pages_path do %>
        <i class="fa fa-file-text-o"></i>
        <span>单页管理</span>
      <% end %>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-suitcase"></i>
        <span>产品管理</span>
      </a>
    </li>
    <li>
      <%= link_to admin_feedbacks_path do %>
        <i class="fa fa-envelope-o"></i>
        <span>反馈管理</span>
      <% end %>
    </li>
    <li class="header">招聘管理</li>
    <li>
      <%= link_to admin_jobs_path do %>
        <i class="fa fa-archive"></i>
        <span>职位管理</span>
      <% end %>
    </li>
    <li class="header">客户管理</li>
    <li>
      <%= link_to admin_companies_path do %>
        <i class="fa fa-group"></i>
        <span>客户管理</span>
      <% end %>
    </li>
    <li class="header">系统管理</li>
    <li>
      <%= link_to admin_bosses_path do %>
        <i class="fa fa-user"></i>
        <span>管理员管理</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_headhunters_path do %>
        <i class="fa fa-users"></i>
        <span>猎头管理</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_enterprises_path do %>
        <i class="fa fa-building"></i>
        <span>企业管理</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_organization_categories_path do %>
        <i class="fa fa-building"></i>
        <span>行业类别管理</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_article_categories_path do %>
        <i class="fa fa-building"></i>
        <span>资讯分类管理</span>
      <% end %>
    </li>
  </ul>
</section>
