<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><b>幼儿园</b></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to '首页', root_path %>
        </li>
        <li class="active">
          <%= link_to '/p/admission-guide' do %>
            招生简章 <span class="sr-only">(current)</span>
          <% end %>
        </li>
        <li>
          <%= link_to '在线报名', new_enroll_path %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">资讯 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <!-- <li class="divider"></li> -->
            <% article_categories = ArticleCategory.sorted %>
            <% article_categories.each do |c| %>
              <li>
                <%= link_to c.name, articles_path('q[article_category_id_eq]': c) %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <% @q ||= Article.sorted.ransack(params[:q]) %>
      <%= search_form_for @q, class: 'navbar-form navbar-left', role: 'search' do |f| %>
      <div class="form-group">
        <%= f.search_field :title_cont, class: 'form-control', id: 'navbar-search-input', placeholder: '搜索' %>
      </div>
      <% end %>
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>
