<section class="content-header">
  <h1>
    需求管理
    <small>需求列表</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_path do %>
        <i class="fa fa-home"></i> 首页
      <% end %>
    </li>
    <li>需求管理</li>
    <li class="active">列表</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
          </h3>

          <div class="box-tools">

            <%= search_form_for [:admin, @q] do |f| %>
              <div class="input-group input-group-sm" style="width: 150px;">
                <%= f.search_field :content_cont, class: 'form-control pull-right', placeholder: '请输入需求内容' %>

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>需求主题</th>
              <th>需求内容</th>
              <th>联系方式</th>
              <th>联系号码</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
            <% @demands.each do |demand| %>
            <tr>
              <td><%= demand.kind %></td>
              <td><%= demand.content %></td>
              <td><%= demand.contact_kind %></td>
              <td><%= demand.contact %></td>
              <td><%= demand.created_at.localtime.to_s(:db) %></td>
              <td>
                <%= link_to edit_admin_demand_path(demand), class: 'btn btn-primary btn-xs' do %>
                  <i class="fa fa-edit"></i> 编辑
                <% end %>
                <%= link_to admin_demand_path(demand), method: :delete, class: 'btn btn-danger btn-xs' do %>
                  <i class="fa fa-trash-o"></i> 删除
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        <%= paginate @demands, views_prefix: 'admin' %>
      </div>
    </div>
  </div>
</section>
