<section class="content-header">
  <h1>
    行业类别管理
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_path do %>
        <i class="fa fa-home"></i> 首页
      <% end %>
    </li>
    <li>行业类别管理</li>
    <li class="active">列表</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">list</h3>

          <div class="box-tools">
            <div class="btn-group">
              <%= link_to '新增', new_admin_organization_category_path, class: 'btn btn-default btn-xs' %>
            </div>

            <%= search_form_for [:admin, @q] do |f| %>
              <div class="input-group input-group-sm" style="width: 150px;">
                <%= f.search_field :name_cont, class: 'form-control pull-right', placeholder: '请输入行业名称' %>

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>行业类别名称</th>
              <th>操作</th>
            </tr>
            <% @organization_categories.each do |organization_category| %>
            <tr>
              <td><%= organization_category.name %></td>
              <td>
                <%= link_to edit_admin_organization_category_path(organization_category), class: 'btn btn-primary btn-xs' do %>
                  <i class="fa fa-edit"></i> 编辑
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        <!-- /.box-body -->
        <%= paginate @organization_categories, views_prefix: 'admin' %>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
