<section class="content-header">
  <h1>
    反馈管理
    <small>反馈列表</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_path do %>
        <i class="fa fa-home"></i> 首页
      <% end %>
    </li>
    <li>反馈管理</li>
    <li class="active">列表</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
          </h3>

          <div class="box-tools">

            <%= search_form_for [:admin, @q] do |f| %>
              <div class="input-group input-group-sm" style="width: 150px;">
                <%= f.search_field :content_cont, class: 'form-control pull-right', placeholder: '请输入反馈内容' %>

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>反馈主题</th>
              <th>反馈内容</th>
              <th>反馈时间</th>
              <th>处理</th>
              <th>操作</th>
            </tr>
            <% @feedbacks.each do |feedback| %>
            <tr>
              <td><%= feedback.kind %></td>
              <td><%= feedback.content %></td>
              <td><%= feedback.created_at %></td>
              <td>
                <% if feedback.handled? %>
                  <%= link_to switch_admin_feedback_path(feedback), method: :patch, class: 'btn btn-success btn-xs' do %>
                    <i class="fa fa-check-square-o"></i> 已处理
                  <% end %>
                <% else %>
                  <%= link_to switch_admin_feedback_path(feedback), method: :patch, class: 'btn btn-default btn-xs' do %>
                    <i class="fa fa-square-o"></i> 未处理
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to edit_admin_feedback_path(feedback), class: 'btn btn-primary btn-xs' do %>
                  <i class="fa fa-edit"></i> 编辑
                <% end %>
                <%= link_to admin_feedback_path(feedback), method: :delete, class: 'btn btn-danger btn-xs' do %>
                  <i class="fa fa-trash-o"></i> 删除
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        <%= paginate @feedbacks, views_prefix: 'admin' %>
      </div>
    </div>
  </div>
</section>
