<section class="content-header">
  <h1>
    招聘管理
    <small>编辑职位</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_path do %>
        <i class="fa fa-home"></i> 首页
      <% end %>
    </li>
    <li class="active">招聘管理</li>
    <li class="active">编辑职位</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">编辑职位</h3>
        </div>
        <%= simple_form_for [:admin, @job], wrapper: :horizontal_form do |f| %>
          <%= f.input :name, label: '招聘职位', placeholder: '请输入职位', input_html: {class: 'col-sm-10'} %>
          <%= f.input :description, label: '职位介绍' %>
          <div class="box-footer">
            <%= f.button :submit, '保存' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
