<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>码序企业信息化系统</title>
  <%= csrf_meta_tags %>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <%= javascript_include_tag :admin, 'data-turbolinks-track': 'reload' %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <%= render 'layouts/shared/admin_header' %>
    </header>

    <aside class="main-sidebar">
      <%= render 'layouts/shared/admin_sidebar' %>
    </aside>

    <div class="content-wrapper">
      <%= yield %>
    </div>

    <footer class="main-footer">
      <%= render 'layouts/shared/admin_footer' %>
    </footer>

    <div class="control-sidebar-bg"></div>
  </div>

  <script>
  // $.widget.bridge('uibutton', $.ui.button);
  /*menu handler*/
  $(function(){
    function stripTrailingSlash(str) {
      if(str.substr(-1) == '/') {
        return str.substr(0, str.length - 1);
      }
      return str;
    }

    var url = window.location.pathname;
    var activePage = stripTrailingSlash(url);

    $('.sidebar li a').each(function(){
      var currentPage = stripTrailingSlash($(this).attr('href'));

      if (activePage == currentPage) {
        $(this).parent().addClass('active');
      }
    });
  });
  </script>
</body>
</html>
